<ion-header collapse="fade" class="ion-no-border ion-padding-horizontal">
    <ion-toolbar>
        <ion-avatar slot="start">
            <a href="/">
                <img alt="ADA Logo" src="/assets/icon/favicon.svg" />
            </a>
        </ion-avatar>
        <ion-title class="font-montserrat">
            <ion-text class="text-bold">{{ title }}</ion-text>
            <ion-text class="ion-margin-start" *ngIf="eventName">{{
                eventName
            }}</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button
                fill="solid"
                shape="round"
                *ngIf="this.eventName && this.eventName.length"
                [routerLink]="['/']"
            >
                <ion-icon slot="start" name="earth"></ion-icon>
                World View
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
