<app-loading [loading]="loading" message="Loading..."></app-loading>

<ion-split-pane contentId="map-content" when="false">
    <ion-menu
        contentId="map-content"
        side="end"
        menuId="map-menu"
        type="reveal"
        maxEdgeStart="0"
    >
        <app-layer
            [event]="preview ? null : event"
            [loading]="loading"
            (toggleLayerEventEmitter)="onLayerToggle($event)"
        ></app-layer>
    </ion-menu>

    <ion-content id="map-content" class="map-container">
        <ion-menu-toggle
            class="text-bold font-montserrat"
            menu="map-menu"
            [ngClass]="{ 'ion-hide': !eventView }"
        >
            <ion-text>^&nbsp;&nbsp;^&nbsp;&nbsp;^</ion-text>
            &nbsp;&nbsp;&nbsp;&nbsp;MAP LAYERS&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text>^&nbsp;&nbsp;^&nbsp;&nbsp;^</ion-text>
        </ion-menu-toggle>
        <div
            class="map"
            leaflet
            [leafletOptions]="leafletOptions"
            (leafletMapReady)="onMapReady($event)"
        ></div>
        <app-admin-level
            *ngIf="eventView"
            [adminLevelLabels]="event.adminLevelLabels.split(',')"
            [loading]="loading"
            (adminChangeEvent)="onAdminChange($event)"
            (adminFillChangeEvent)="onAdminFillChange($event)"
        ></app-admin-level>
    </ion-content>
</ion-split-pane>
