<ion-split-pane contentId="map" when="false">
  <ion-menu contentId="map" side="end" menuId="map" type="reveal">
    <app-layer></app-layer>
  </ion-menu>

  <ion-content id="map" class="map-container">
    <ion-menu-toggle
      class="text-bold font-montserrat"
      menu="map"
      [ngClass]="{ 'ion-hide': !eventView }"
    >
      <ion-text>^&nbsp;&nbsp;^&nbsp;&nbsp;^</ion-text>
      &nbsp;&nbsp;&nbsp;&nbsp;MAP LAYERS&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-text>^&nbsp;&nbsp;^&nbsp;&nbsp;^</ion-text>
    </ion-menu-toggle>
    <div
      class="map"
      leaflet
      [leafletOptions]="leafletOptions"
      (leafletMapReady)="onMapReady($event)"
    ></div>
    <ion-segment
      [ngClass]="{ 'ion-hide': !eventView }"
      value="admin-1"
      mode="ios"
      color="ibf-primary"
      scrollable="true"
    >
      <ion-segment-button value="admin-1">
        <ion-label>Admin 1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin-2">
        <ion-label>Admin 2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin-3">
        <ion-label>Admin 3</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin-4">
        <ion-label>Admin 4</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin-5">
        <ion-label>Admin 5</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-content>
</ion-split-pane>
