<article class="chat" i18n>
  Welcome to the
  <ion-text class="text-bold">Automated Damage Assessment (ADA)</ion-text>
  portal. Here you will find all the events for which a damage assessment has
  been conducted.
</article>

<ion-buttons class="ion-justify-content-evenly">
  <ion-button
    shape="round"
    fill="solid"
    (click)="openPopup('About ADA', 'assets/markdown/about.md')"
    i18n
    >About ADA</ion-button
  >
  <ion-button
    shape="round"
    fill="solid"
    (click)="openPopup('User Guide', 'assets/markdown/guide.md')"
    i18n
    >User Guide</ion-button
  >
  <ion-button
    shape="round"
    fill="solid"
    (click)="openPopup('Disclaimer', 'assets/markdown/disclaimer.md')"
    i18n
    >Disclaimer</ion-button
  >
</ion-buttons>

<app-loading [loading]="loading"></app-loading>

<section *ngIf="!loading">
  <article class="chat chat-events" *ngIf="!hideEvents">
    <ion-text i18n>Disaster events are listed in order of occurrence.</ion-text
    >&nbsp;<ion-text color="danger" i18n
      >Recent disaster events are in red.</ion-text
    >
    <br />
    <br />
    <div class="ion-margin-vertical text-bold" *ngIf="events.length < 1" i18n>
      No disaster events to show.
    </div>
    <ul *ngIf="events.length > 0" class="ion-no-margin ion-padding-start">
      <li
        *ngFor="let event of events"
        class="ion-margin-vertical text-bold"
        [ngClass]="{ recent: event.recent }"
        [routerLink]="['/events', event.id]"
        [queryParams]="{ preview: true }"
        routerLinkActive="active"
      >
        <ion-text>
          {{ event.type }} {{ event.name }} -
          {{ event.startDate | date: "mediumDate" }}<br />{{ event.country }}
        </ion-text>
      </li>
    </ul>
  </article>
  <article class="chat" *ngIf="hideEvents">
    <ion-text color="danger" i18n>
      The assessment area is outlined in red.
    </ion-text>
    <ion-text>
      <h6>
        {{ event.type }} {{ event.name }} -
        {{ event.startDate | date: "mediumDate" }}<br />{{ event.country }}
      </h6>
      <ul class="ion-padding-start">
        <li>People Affected: {{ formatNumber(event.peopleAffected) }}</li>
        <li>
          Damaged Buildings: {{ formatNumber(event.buildingsDamaged) }} ({{
            formatPercentage(event.buildingsDamagedPercentage)
          }})
        </li>
      </ul>
      <p i18n>
        <b>People Affected</b> is the product of the total number of people
        living in the assessment area and the fraction of damaged buildings.
      </p>
      <p i18n>
        <b>
          You are viewing sensitive information ensure you exit once finished
          with the dashboard.
        </b>
      </p>
    </ion-text>
  </article>
</section>
