<article class="chat">
    <ion-text i18n>
        Welcome to the
        <ion-text class="text-bold">Automated Damage Assessment (ADA)</ion-text>
        portal. Here you will find all the events for which a damage assessment
        has been conducted.
    </ion-text>

    <ion-buttons class="ion-justify-content-evenly">
        <ion-button
            shape="round"
            fill="solid"
            color="dark"
            (click)="openPopup('About ADA', 'assets/markdown/about.md')"
            i18n
            >About ADA</ion-button
        >
        <ion-button
            shape="round"
            fill="solid"
            color="dark"
            (click)="openPopup('User Guide', 'assets/markdown/guide.md')"
            i18n
            >User Guide</ion-button
        >
        <ion-button
            shape="round"
            fill="solid"
            color="dark"
            (click)="openPopup('Disclaimer', 'assets/markdown/disclaimer.md')"
            i18n
            >Disclaimer</ion-button
        >
    </ion-buttons>
</article>

<app-loading [loading]="loading"></app-loading>

<section *ngIf="!loading">
    <article class="chat chat-events" *ngIf="!hideEvents">
        <ion-text i18n
            >Disaster events are listed in order of occurrence.</ion-text
        >&nbsp;<ion-text color="danger" i18n
            >Recent disaster events are in red.</ion-text
        >
        <br />
        <br />
        <div
            class="ion-margin-vertical text-bold"
            *ngIf="events.length < 1"
            i18n
        >
            No disaster events to show.
        </div>
        <ul *ngIf="events.length > 0" class="ion-no-margin ion-padding-start">
            <li
                *ngFor="let event of events"
                class="ion-margin-vertical text-bold"
                [ngClass]="{ recent: event.recent }"
                [routerLink]="['/events', event.id]"
                [queryParams]="{ preview: true }"
                routerLinkActive="active"
            >
                <ion-text>
                    {{ event.name }}<br />
                    {{ event.type }} on {{ event.startDate | date: "mediumDate"
                    }}<br />
                    {{ event.country }}
                </ion-text>
            </li>
        </ul>
    </article>
    <article class="chat chat-event-details" *ngIf="hideEvents">
        <ion-buttons>
            <ion-button [routerLink]="['/']" color="dark">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                Back to World View
            </ion-button>
        </ion-buttons>
        <br />
        <ion-text>
            You are viewing
            <ion-text class="text-bold">{{ event.name }}</ion-text
            >,
            {{
                indefinite(event.type, {
                    articleOnly: true,
                    caseInsensitive: true,
                })
            }}
            <ion-text class="text-bold">{{ event.type }}</ion-text>
            that occurred on
            <ion-text class="text-bold">{{
                event.startDate | date: "mediumDate"
            }}</ion-text>
            in <ion-text class="text-bold">{{ event.country }}</ion-text
            >.
        </ion-text>
        <ion-list lines="none" class="ion-margin-vertical key-estimate-list">
            <ion-item class="key-estimate-item">
                <ion-label>
                    <ion-text class="text-bold">
                        {{ formatNumber(event.peopleAffected) }}
                        {{ adminLevelFillLabel[adminLevelFill.peopleAffected] }}
                    </ion-text>
                    The product of the total number of people living in the
                    assessment area and the fraction of building damage.
                </ion-label>
            </ion-item>
            <ion-item class="key-estimate-item">
                <ion-label>
                    <ion-text class="text-bold">
                        {{ formatPercentage(event.peopleAffectedPercentage) }}
                        {{
                            adminLevelFillLabel[
                                adminLevelFill.peopleAffectedPercentage
                            ]
                        }}
                    </ion-text>
                    The fraction of people affected out of the population in the
                    assessment area.
                </ion-label>
            </ion-item>
            <ion-item class="key-estimate-item">
                <ion-label>
                    <ion-text class="text-bold">
                        {{ formatNumber(event.buildingsDamaged) }}
                        {{ adminLevelFillLabel[adminLevelFill.buildingDamage] }}
                    </ion-text>
                    The total number of buildings with light, moderate and heavy
                    damage in the assessment area.
                </ion-label>
            </ion-item>
            <ion-item class="key-estimate-item">
                <ion-label>
                    <ion-text class="text-bold">
                        {{ formatPercentage(event.buildingsDamagedPercentage) }}
                        {{
                            adminLevelFillLabel[
                                adminLevelFill.buildingDamagePercentage
                            ]
                        }}
                    </ion-text>
                    The fraction of building damage out of all buildings in the
                    assessment area.
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-text class="text-bold" i18n>
            You are viewing sensitive information ensure you exit once finished
            with the dashboard.
        </ion-text>
    </article>
</section>
