<ion-app class="no-alert">
  <ion-header collapse="fade" class="ion-no-border ion-padding-horizontal">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="apps" slot="icon-only"></ion-icon>
      </ion-buttons>
      <ion-title class="font-montserrat text-bold">{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="solid" shape="round">
          <ion-icon slot="start" name="earth"></ion-icon>
          World View
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-split-pane
      class="ion-content-scroll-host"
      contentId="main-content"
      when="(min-width: 40px)"
    >
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          <app-calendar></app-calendar>
          <app-summary></app-summary>
        </ion-content>
      </ion-menu>

      <ion-content id="main-content" class="ion-text-center">
        <app-map></app-map>
      </ion-content>
    </ion-split-pane>
  </ion-content>
</ion-app>
