<ion-app class="no-alert">
    <app-header
        [eventName]="preview ? null : event ? event.name : null"
    ></app-header>
    <ion-content>
        <ion-split-pane
            class="ion-content-scroll-host"
            contentId="main-content"
            when="(min-width: 40px)"
        >
            <ion-menu contentId="main-content" type="overlay">
                <ion-content>
                    <app-summary
                        [events]="events"
                        [event]="preview ? null : event"
                        [loading]="loading"
                    ></app-summary>
                </ion-content>
            </ion-menu>

            <ion-content id="main-content" class="ion-text-center">
                <app-map
                    [events]="events"
                    [event]="event"
                    [preview]="preview"
                    [loading]="loading"
                ></app-map>
            </ion-content>
        </ion-split-pane>
    </ion-content>
</ion-app>
