ion-item {
    --inner-padding-end: 0;
}

ion-avatar {
    --border-radius: 4px;
}

.day,
.date,
.month,
.year {
    font-size: 12px;
}

.day,
.month {
    font-weight: bold;
}

.month-year {
    background-color: var(--ion-color-ibf-primary);
    color: var(--ion-color-ibf-primary-contrast);
    margin: 4px;
    padding: 4px 16px;
}
