<ion-item lines="none">
    <ion-avatar>
        <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
        />
    </ion-avatar>
    <ion-title class="font-montserrat text-bold">{{ today }}</ion-title>
    <div class="ion-text-center ion-margin-end day-date font-montserrat">
        <span class="day ion-text-uppercase">{{ day }}</span>
        <br />
        <span class="date">{{ date }}</span>
    </div>
    <div class="ion-text-center month-year font-montserrat">
        <span class="month ion-text-uppercase">{{ month }}</span>
        <br />
        <span class="year">{{ year }}</span>
    </div>
</ion-item>
